.row {
    display: flex;
    align-items: stretch;
}

.row .label {
    flex: 0 1 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row .container {
    flex: 1;
    display: flex;
    justify-content: flex-start;

}

.row .dish {
    display: flex;
    justify-content: center;
}

.pasta {
    background-color: #0f4a8a;
}
.pizza {
    background-color: green;
}
.burrito {
    background-color: red;
}