.myPage {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a[href] {
    color: brown;
}

.myButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
}

a:hover {
    background-color: brown;
    color: white;
}

.myButton:active {
    color: white;
    background-color: brown;
    transform: scale(0.999);
}

li:last-child {
    color: blueviolet;
}