body {
    background-color: #E0E0E2;    
}

#logo {
    margin: auto;
    display: block;
}

h1, h2 {
    color: #721817;
}

.center-text {
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#location {
    text-align: center;
}